body{

font-family:Arial, sans-serif;

background:linear-gradient(135deg,#11998e,#38ef7d);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

margin:0;

}


.container{

background:white;

width:350px;

padding:35px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,0.25);

}


h2{

text-align:center;

color:#11998e;

}


input{

width:100%;

padding:12px;

margin:10px 0;

border-radius:8px;

border:1px solid #ccc;

box-sizing:border-box;

}


button{

width:100%;

padding:12px;

background:#11998e;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}


button:hover{

background:#0b7d73;

}


a{

display:block;

text-align:center;

margin-top:20px;

color:#11998e;

text-decoration:none;

}