body{

font-family:Arial;

background:linear-gradient(135deg,#667eea,#764ba2);

min-height:100vh;

display:flex;

justify-content:center;

align-items:flex-start;

padding:30px 0;

margin:0;

}


.container{

background:white;

width:500px;

padding:25px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,0.2);

margin-bottom:30px;

}


h1{

text-align:center;

}


#messages{

height:300px;

border:1px solid #ccc;

padding:10px;

overflow-y:auto;

margin:15px 0;

border-radius:10px;

}


/* Text Inputs Only */

input:not([type="radio"]):not([type="file"]){

width:95%;

padding:10px;

margin-bottom:10px;

border-radius:8px;

border:1px solid #ccc;

}



/* Buttons */

button{

width:100%;

padding:10px;

background:#667eea;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

margin-top:10px;

}


button:hover{

background:#5567d8;

}



#typing{

color:#667eea;

font-style:italic;

}



/* Online Users */

.online-box{

background:#f5f7ff;

padding:15px;

border-radius:12px;

margin:15px 0;

}


.online-box h3{

margin-top:0;

color:#667eea;

}


#userList{

width:100%;

padding:12px;

border-radius:8px;

border:1px solid #ccc;

font-size:16px;

background:white;

cursor:pointer;

}



#userList:focus{

outline:none;

border-color:#667eea;

}



/* Private Message */

.private-section{

margin-top:20px;

}



/* File Upload Section */

.file-section{

margin-top:25px;

padding-top:15px;

border-top:1px solid #ddd;

}



.file-section h3{

color:#667eea;

}



/* File Input */

#fileInput{

width:100%;

padding:8px;

border:1px solid #ccc;

border-radius:8px;

margin-bottom:15px;

}


/* Preview Image */

#preview{

display:block;

margin:10px auto;

border-radius:10px;

}



/* Radio Buttons */

input[type="radio"]{

width:auto;

margin-right:8px;

}



label{

display:flex;

align-items:center;

gap:8px;

margin:12px 0;

font-size:17px;

}



/* Logout */

.logout-btn{

background:red;

margin-top:20px;

}


.logout-btn:hover{

background:darkred;

}